@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
   
   /* ALL */
*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: prompt, sans-serif;
}

#easy-body{
    background-color:rgb(0, 222, 230);
}

#medium-body{
    background-color:rgba(15, 178, 18, 0.778);
}

#hard-body{
    background-color:rgb(233, 1, 1);
}

#easy-body #header-box{
    background-color: rgb(21, 87, 111);
    color: white;
}

#medium-body #header-box{
    background-color: rgb(2, 111, 22);
    color: white;
}

#hard-body #header-box{
    background-color: rgb(110, 0, 0);
    color: white;
}
    /* HEADER */

#header-box{
    font-size: 15px;
    height: 6vh;
    padding-top: 10px;
    text-align: center;
}

#lets-play{
    height: 5vh;
    font-size: 20px;
    text-align: center;
}

#header-box a{
    text-decoration: none;
    color: rgb(215, 90, 52);
}

#easy-body #header-box a, #medium-body #header-box a, #hard-body #header-box a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
    /* DIFFICULTY*/

#difficulty-settings{
    height: 70vh;
}

#easy-container, #medium-container, #hard-container{
    height: 15vh;
    width: 85vw;
    margin: auto;
    border-radius: 20px;
}

#easy-container a, #medium-container a, #hard-container a{
    text-decoration: none;
    color: white;
}

#medium-container, #hard-container{
    margin-top: 75px;
}

#easy-container{
    margin-top: 30px;
}
#easy-box, #medium-box, #hard-box{
    display: flex;
    box-shadow: 10px 5px 5px rgb(113, 113, 113);
}

.easy-mode, .medium-mode, .hard-mode{
    height: 17.5vh;
    width: 50vw;
    border-radius: 20px;
}

.easy-mode p, .medium-mode p, .hard-mode p{
    height: 20px;
    padding-left: 10px;
    margin-top: 60px;
}
.easy-mode h3, .medium-mode h3, .hard-mode h3{
    height: 20px;
    padding-left: 10px;
}

#easy-box{
    background-image: linear-gradient(to right, rgb(255, 0, 85), rgb(255, 147, 89) );
    border-radius: 20px;
}

#medium-box{
    background-image: linear-gradient(to right, rgb(173, 62, 168), rgb(237, 157, 244) );
    border-radius: 20px;
}

#hard-box{
    background-image: linear-gradient(to right, rgb(76, 80, 179), rgb(66, 164, 225) );
    border-radius: 20px;
}

#question-box{
    height: 20vh;
    width: 80vw;
    color: black;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    background-color: white;
}

#what-is{
    text-align: center;
    font-size: 20px;
    height: 5vh;
    width: 60vw;
    margin: auto;
    padding-top: 50px;
    font-weight: 700;
}

#easy-country, #medium-country, #hard-country{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

    /* SCORE */

#score-box{
    text-align: center;
    margin: 10px 0 5px 0;
    font-size: 17.5px;
    font-weight: 700;
}
  /* ANSWERS */

  #answer-container{
    height: 50vh;
    width: 70vw;
    margin: auto;
}

.easyAnswer, .mediumAnswer, .hardAnswer{
    border: solid 1px rgb(255, 255, 255);
    height: 7vh;
    width: 71vw;
    margin-top: 12.5px;
    border-radius: 30px;
    display: flex;
    background-color: rgb(255, 255, 255);
    color: blue;
}

#a, #b, #c, #d{
    border-radius:50px ;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 17.5px;
    font-size: 12px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

#a h4, #b h4, #c h4, #d h4{
    padding-top: 7.5px;
}

.ans{
    width: 45vw;
    font-size: 22.5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    text-align: center;
}

#a{
    background-color: tomato;
}

#b{
    background-color: rgb(0, 8, 255);
}

#c{
    background-color: rgb(9, 182, 0);
}

#d{
    background-color: rgb(194, 0, 126);
}

.easyAnswer:hover{
    background-color: rgb(21, 87, 111);
    color: white;
}

.mediumAnswer:hover{
    background-color:  rgb(2, 111, 22);
    color: white;
}

.hardAnswer:hover{
    background-color: rgb(110, 0, 0);
    color: white;
}
.next{
    border: solid 1px rgb(255, 255, 255);
    height: 4vh;
    width: 20vw;
    border-radius: 30px;
    display: flex;
    background-color: rgb(21, 87, 111);
    color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 15.5px;
}
#next, #finish{
    margin: auto;
}
.next:hover, .finish:hover{
    background-color: white;
    color:rgb(21, 87, 111);
}


    /* FOOTER */

    footer{
        margin-top: 20px;
        width: 100vw;
        height: 120px;
        background-image:linear-gradient(to right, rgb(42, 41, 41), rgb(78, 78, 78));
        letter-spacing: 4px;
        border-top: 2px white solid;
    }
    
    #footer-container{
        height: 120px;
    }
    
    #social-media-icons h3{
        margin-top: 2%;
        color: white;
        text-align: center;
    }
    
    #social-media-icons{
        width: 100vw;
        font-size: 10px;
        margin: auto;
        text-align: center;
    }
    
    .social-networks i{
        font-size: 5vh;
        padding-top: 4%;
        color:rgb(255, 255, 255);
        font-size: 25px;
    }
    
    .social-networks li{
        list-style: none;
        text-align: center;
        font-size: 20px;
        margin:0 5% 0 5%;
        display: inline;
    }
    